

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 25px;
  width: 250px;
  background: url('./assets/logo.svg') no-repeat;
  background-size: contain;
}

.content {
  padding: 12px;
}
